html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    position: relative;
    height: 100px;
}

.navbar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 40px;
    gap: 30px;
}

/* search button starts here */

.search-icon,
.cart-icon {
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: orange;
    font-size: 20px;
    box-shadow: 0px 0px 10px black;
    border: none;
    cursor: pointer;
}

.search-icon:hover,
.cart-icon:hover {
    background-color: orangered;
}

.navbar {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: stretch;
    background-color: white;
    /* padding: 10px; */
    box-shadow: 0px 0px 10px black;
    border-radius: 70px;
    margin: 10px;
    width: 60%;
}

.navbar-menu ul {
    display: flex;
    height: 100%;
    /* padding: 10px; */
}

.navbar-menu ul li {
    list-style: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar-menu ul li a {
    text-decoration: none;
    padding: 10px;
}

.navbar-menu ul li a i {
    font-size: small;
}

.navbar-menu ul li a:hover {
    color: orange;
}

.navbar-menu ul li:hover .sub-menu {
    display: flex !important;
}

.sub-menu {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 104px;
    width: min-content;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 10px 20px;
    gap: 10px;
    width: 150px;
    border-top: 4px solid coral;
}

.sub-menu li a {
    padding: 0px !important;
}

.navbar-center {
    padding: 0px 15px;
}

.navbar-center img {
    height: 100px;
    width: 100px;
}

/* corporate section starts here */
.corporate {
    padding: 100px;
}

.corporate-content {
    text-align: center;
}

.corporate-content span i {
    font-family: 'Pacifico';
    font-size: 18px;
    color: orangered;
    padding: 10px;
}

.corporate-content h1 {
    font-size: 32px;
    padding: 10px;
}

/* corporate section ends here */

/* card starts here */
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}

.card-image {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.card-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
/* card ends here */
