html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 0px 50px;
}


.header {
    position: relative;
    height: 100px;
}

.navbar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 40px;
    gap: 30px;
}

/* search and cart button starts here */

.search-icon,
.cart-icon {
    padding: 15px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: orange;
    font-size: 20px;
    box-shadow: 0px 0px 10px black;
    border: none;
    cursor: pointer;
}

.search-icon:hover,
.cart-icon:hover {
    background-color: orangered;
}

.card-btn{
    position: relative;
}


  .badge {
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: orangered;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
  }
  /* search and cart button ends here */

  /* navbar starts here */


.navbar {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: stretch;
    background-color: white;
    /* padding: 10px; */
    box-shadow: 0px 0px 10px black;
    border-radius: 70px;
    margin: 10px;
    width: 65%;
}

.navbar-menu ul {
    display: flex;
    height: 100%;
    /* padding: 10px; */
}

.navbar-menu ul li {
    list-style: none;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.navbar-menu ul li a {
    text-decoration: none;
    padding: 10px;
}

.navbar-menu ul li a i {
    font-size: small;
}

.navbar-menu ul li a:hover {
    color: orange;
}

.navbar-menu ul li:hover .sub-menu {
    display: flex !important;
}

/* navbar ends here */
/* sub menu starts here */
.sub-menu {
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 104px;
    width: min-content;
    background-color: aliceblue;
    border-radius: 3px;
    padding: 10px 20px;
    gap: 10px;
    width: 150px;
    border-top: 4px solid coral;
}

.sub-menu li a {
    padding: 0px !important;
}

.navbar-center {
    padding: 0px 15px;
}

.navbar-center img {
    height: 100px;
    width: 100px;
}

/* sub menu ends here */

/* corporate section starts here */
.corporate {
    padding: 100px;
}

.corporate-content {
    text-align: center;
}

.corporate-content span i {
    font-family: 'Pacifico';
    font-size: 18px;
    color: orangered;
    padding: 10px;
}

.corporate-content h1 {
    font-size: 40px;
    padding: 10px;
}

/* corporate section ends here */

/* card starts here */
.card-section{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0px 100px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 2px;
    /* overflow: hidden; */
    flex-grow: 1;
    cursor: pointer;
    margin: 20px ;
    position: relative;
    /* z-index: 2; */
}

.card-border {
    position: absolute;
    border: 1px solid #ccc;
    left: 10px;
    top: -10px;
    /* z-index: 1; */
    height: 105%;
    width: 100%;
}
.cardimage-wrap {
    overflow: hidden;
    height: 250px;
}

.card-image {
    width: 100%;
    height: 100%;
    transition: 1s;

}
.card:hover {
    border: 1px solid orangered;
}

.card:hover .card-border {
    border: 1px solid orangered;
}

.card:hover .card-image{
    transform: scale(1.5);
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-description {
    margin-bottom: 10px;
}

.card-button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    position: absolute;
}
/* card ends here */

/* Reservation section starts here */
.reservation-section {
    background-image: url(./images/bg3.jpg);
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 50px 0px;
}

.reservation-content {
    text-align: center;
    padding-top: 50px;



}
.reservation-content span i {
    font-family: 'Pacifico';
    font-size: 28px;
    color: orangered;
    padding: 10px;
}

.reservation-content  h1 {
    color: white;
    padding: 10px;
    font-size: 42px;
}

.reservation-content  p{
    color: white;
    font-size: 18px;
}

.form-group-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.form-group {
    flex-grow: 1;
    margin-bottom: 30px;
    position: relative;
}

.form-control {
    border-radius: 40px;
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px;


}

.input-group-icon {
    position: absolute;
    top: 18px;
    right: 25px;
    color: white;
}

  .comment-box {
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
  }
  .textarea {

    width: 100%;
    border-radius: 30px;
    align-items: left;
    padding: 10px;
    background-color: black;
    color: white;

  }
  .submit-btn {
    text-align: center;
    padding: 10px;
    margin: 10px 0px;
  }
  .submit {
    padding: 10px;
    background-color: orange;
    color: white;
    height: 80px;
    width: 250px;
    border-radius: 50px;
    border: none;
    font-size: 18px;

  }
  .submit:hover {
    background-color: white;
    border: 1px solid orange;
    color: orange;
  }


/* Reservation section ends here */

/* service section starts here */

.service-content {
    display: flex;
    gap 10px;
    justify-content: space-between;
    margin-bottom: 30px;


}

.service-content-left {
    position: relative;
}

.left-bottom-img {
    position: absolute;
    bottom: 0;
    right: -80px;
    border-left: 10px solid white;
    border-top: 10px solid white; ;
}
.img-border {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.service-content-right {
    margin-left: 20px;
    padding: 10px;

}

.service-content-right span i {
    font-family: 'Pacifico';
    font-size: 18px;
    color: orangered;
    /* padding-bottom: px; */

}

.service-content-right h1 {
    font-size: 28px;
    padding-bottom: 10px;
}

.service-item-wrap {
margin-top: 250px;
margin-left: 150px;

}
.service-item {
    display: flex;
    gap: 25px;
}

.service-icon i {
    font-size: 80px;
    color: orangered;
}

/* service section ends here */
/* achivement section starts here */

.achivement-section {
    background-image: url(./images/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    height: auto;
    width: 100%;
    margin: 50px 0px;


}
.achivement-overles {
    background: rgba(0,0,0,.5);



}

.achivement-content {
    text-align: center;
    padding-top: 50px;
}

.achivement-content h1 {
    color: white;
    font-size: 40px;
    padding: 10px;
    font-family:  sans-serif;
}
.achivement-content p {
    color: white;
    padding: 10px;
    font-size: 18px;

}

.achivement-sector {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;
    padding-bottom: 80px;
}
.counter {
    text-align: center;
    color: white;
    font-size: 50px;
}
.achivement h2 {
    color: #ccc;
    font-size: 24px;
}

/* achivement section ends here */
/* food menu section starts here */

.food-menu-section {
    text-align: center;
}
.food-menu-content span i {
    font-family: 'Pacifico';
    font-size: 18px;
    color: orangered;
    padding: 10

}
.food-menu-content h1 {
    font-size: 40px;
    padding: 20px;
}

/* food menu section starts here */
/* food menu button starts here */

.food-menu-button-wrap {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    padding: 10px;
    justify-content: center;

}

.food-menu-button {
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    border: none;
    margin-bottom: 30px;
    font-size: 18px;
    cursor: pointer;
}
.food-menu-button.active {
    background-color: orangered;
    color: white;
}

.food-menu-button:hover {
    background-color: orangered;
    color: white;
}

/* food menu button ends here */

/* food menu cart section starts here */
.food-menu-cart-section {
    background-image: url(./images/food-menu-bg-img-1-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-attachment: fixed; */
    height: 750px;
    width: 100%;
    margin: 50px 0px;
}
.food-menu-cart-section .container {
position: relative;
}
.food-menu-cart-section .container::after {
    content: '';
    position: absolute;
    background-image: url(./images/bg-shape-1-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 387px;
    width: 226px;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;



}
.food-menu-cart-content-left, .food-menu-cart-content-right {
    width: 50%;

}
.food-menu-cart-wrap {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;

}

.food-cart-item {
    display: flex;
     gap: 20px;
     align-items: center;
     margin-bottom: 20px;
     justify-content: space-between;
}
.star-icon {
    color: orangered;
}

.cart-item {
   flex-grow: 1;
}

.cart-title {
    display: flex;
    gap: 4px;
    background-color: orangered;
    color: white;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 14px;
}
.cart-title, h2 {

    justify-content: center;
}
.cart-image {
    overflow: hidden;


}
.cart-img-item {
    transition: 1s;
    border: 1px;
    width: 100%;
}

.cart-image:hover .cart-img-item  {
    transform: scale(1.5);
}

/* food menu cart section ends here */

/* food gallery starts here */
.food-gallery-section {
    text-align: center;
    margin-bottom: 100px;
}
.food-gallery-content span i {
    font-family: 'Pacifico';
    font-size: 18px;
    color: orangered;
    padding: 10

}
.food-gallery-content h1 {
    font-size: 40px;
    padding: 20px;
}
.gallery {
    margin-top: 50px;
}

.gallery-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.gallery-image {
    position: relative;


}
.gallery-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    height: 90%;
    width: 0%;
    opacity: 0;
    color: orangered;
    background: rgba(0,0,0,0.7);
    transition: 0.5s;




}
.gallery-image:hover  .gallery-overlay {

 opacity: 1;
 width: 90%;



}


.gallery-wrap .gallery-image img {
    width: 100%;
}

/* food gallery ends here */

/* promotional banner starts here */


.promotional-banner .container {
    position: relative;
}
.promotional-banner .container::after {
    content: '';
    position: absolute;
    background-image: url(./images/bg-shape-1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 280px;
    width: 300px;
    left: -50px;
    bottom: -200px;
    z-index: -1;
}
.banner-image {
    text-align: center;
}

/* promotional banner ends here */
/* testimonial section starts here */

.testimonial-section {
    text-align: center;
    padding-top: 50px;



}
.testimonial-content span i {
    font-family: 'Pacifico';
    font-size: 28px;
    color: orangered;
    padding: 10px;
}

.testimonial-content  h1 {

    padding: 10px;
    font-size: 42px;
}

.testimonial-content  p{
    font-size: 18px;
}

.testimonial-wrap {
    background-image: url(./images/testimonial-bg-1-1.jpg);
    background-size: 125% 125%;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid transparent;
    box-shadow: 0px 0px 100px 0px rgba(35, 38, 46, 0.2);
}
.testimonial-circle:hover {
    border: 2px solid orangered;
}
.testimonial-item  {
   text-align: center;
    margin-top: 50px;

}
.testimonial-img img {
    height: 150px;
    width: 150px;

}
.testimonial-text {
    text-align: center;
    padding: 10px;
}
.testimonial-text h1 {
 padding: 10px;
}
.testimonial-text span {
    color: orangered;

}
.testimonial-text p {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    /* color: black; */
}

/* testimonial section ends here */
/* newsletter section starts here */
.newsletter-section {
    background-image: url(./images/footer-bg-2-1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 100%;
    margin: 50px 0px;
    background-attachment: fixed;

}
.newsletter-overlay {
   background: rgba(0, 0, 0, 0.5);
   padding: 100px 0px;

}


.newsletter-content {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.newsletter-text, span {
    color: white;
    font-size: 32px;
}
.newsletter-text p{
    color: white;
    font-size: 16px;
    padding-top: 15px;

}
.newslater-input-field {
    width: 50%;
    position: relative;
}
.newslater-input-field .form-group .form-control {
    background-color: white;
    font-size: 14px;
    padding: 20px;
    padding-left: 50px;


}

.newslater-input-field .input-group-icon {
    color: black;
    position: absolute;
    left: 20px;
    top: 21px;

}
.subscribe-btn {
    position: absolute;
    right: 0;
    border: none;
    top: 2px;
    border-radius: 30px;
    background-color: orangered;
    padding: 22px 40px;
    color: white;
    font-size: 14px;

}

.subscribe-btn:hover {
    background-color: white;

    border: 2px solid orangered;
    color: orangered;
    cursor: pointer;
    border-right: none;

}


/* newsletter section ends here */

/* latest news section starts here */
.latest-news-section {
    text-align: center;
    padding-top: 50px;



}
.latest-news-content span i {
    font-family: 'Pacifico';
    font-size: 28px;
    color: orangered;
    padding: 10px;
}

.latest-news-content  h1 {

    padding: 10px;
    font-size: 42px;
}

.latest-news-content p{
    font-size: 18px;
}
.latest-news-wrap  {
    display: flex;
    justify-content: space-between;

}
.latest-news-wrap .card .card-content p {
    padding: 10px;
    font-size: 32px;
    font-family: 'Rufina', serif;
    text-align: left;

}
.latest-news-wrap .card {
    padding-bottom: 50px;
    margin-bottom: 50px;

}

.card-content-item {
    display: flex;
    gap: 10px;
}
.card-content-item span {
    font-size: 12px;
    padding: 15px;
}
.latest-news-wrap .card .card-button {
    bottom: -30px;
    padding: 20px;
    border-radius: 50%;
    background-color: black;
}
.latest-news-wrap .card .card-border {
    border: 1px solid #ccc;
}
.latest-news-wrap .card {
    border: 1px solid #ccc;
}
.latest-news-wrap .card .card-button:hover  {

    background-color: orangered;
}

/* latest news section ends here */